{% extends "_base.html" %}
{% load static i18n %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="home-image-body">
                <div id="main" class="home-image-container">
                    <img src="{% static 'images/rci_ists.jpg' %}"/>
                    <img src="{% static 'images/rci_ists.jpg' %}"/>
                    <img src="{% static 'images/rci_ists.jpg' %}"/>
                    <img src="{% static 'images/rci_ists.jpg' %}"/>
                </div>
            </div>
        </div>
        <div class="col-md-12 version-content">
            <a class="btn btn-success btn-lg text-center" href="{% url 'questions:create-question' %}">New
                Question ?</a>
            <a class="btn btn-success btn-lg text-center" href="{% url 'questions:display' %}">Display
                Questions</a>
        </div>
        <!--/col-->
    </div>
    <!--/row-->




{% endblock content %}
