{% extends "_base.html" %}
{% load static i18n %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center text-white mb-4">Thank you</h2>

        <div class="col-md-8 mx-auto">
          <div class="card-body">
            <form action="" method="get">
              <a class="btn btn-success btn-lg text-center" href="{% url 'questions:create-question' %}">New
                Question</a>
            </form>
          </div>
      </div>
    </div>
    <!--/col-->
  </div>
  <!--/row-->


{% endblock content %}
