{% extends "_base.html" %}
{% load static i18n %}

{% block content %}


  <!--/col-->
  <div class="row">
    <div class="col-md-4 col align-self-center">
      <h1>Nube de Palabras</h1>
    </div>
    <div class="col-md-8">
      <img src="{% static 'images/qr_word_cloud.png' %}" class="" alt="...">
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <span class="qr-url">URL: https://www.menti.com/</span>
    </div>
  <div class="col-md-12">
      <span class="qr-url">Código: 75 25 08</span>
    </div>

  </div>

  <!--/col-->
  <!--/row-->


{% endblock content %}
