{% extends "_base.html" %}
{% load static i18n %}

{% block content %}

  <div class="row">
    <div class="col-md-4 col align-self-center">
      <h1>Preguntas y Respuestas</h1>
    </div>
    <div class="col-md-8">
      <img src="{% static 'images/qr_questions.png' %}" class="" alt="...">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col align-self-center">
      <span class="qr-url">URL: https://rci-ist.herokuapp.com/questions/</span>
    </div>
  </div>

  <!--/row-->

  <!--/col-->
  <!--/row-->


{% endblock content %}
