{% extends "_base.html" %}
{% load static i18n %}
{% block extra_css %}
    <link href="{% static 'css/schedule.css' %}" rel="stylesheet">
{% endblock extra_css %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-white mb-4">REUNIÓN DE COMUNICACIÓN</h2>
            <h2 class="text-center text-white mb-4">DE DIVISIÓN DE TECNOLOGÍA E INFORMÁTICA</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 schedule-table table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    {% comment %} <th scope="col">Horario</th>
                    <th scope="col">Tiempo</th>{% endcomment %}
                    <th scope="col">Actividad</th>
                    <th scope="col">Responsable</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    {% comment %} <td>07:00 – 07:45</td>
                    <td>45 mins</td>{% endcomment %}
                    <td>Desayuno – Ala Gerencial</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    {% comment %} <td>07:45 – 08:15</td>
                    <td>30 mins</td>{% endcomment %}
                    <td>Bienvenida,
                        Introducción de herramienta de comunicación
                    </td>
                    <td>Maribel Rodríguez,
                        Rafael Batista
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    {% comment %} <td>07:45 – 08:15</td>
                    <td>30 mins</td>{% endcomment %}
                    <td>Tecnología e Informática:
                        Visión y Planificación 2019
                    </td>
                    <td>Vielka Arthur</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    {% comment %}  <td>08:15 - 08:45</td>
                    <td>30 mins</td>{% endcomment %}
                    <td>MS Office 365 –
                        Herramientas de Colaboración </td>
                    <td>Juan Francisco Escobar, Microsoft</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    {% comment %} <td>08:45 – 08:50</td>
                    <td>5 mins</td>{% endcomment %}
                    <td>Negocios Complementarios</td>
                    <td>Antonio Michel</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    {% comment %}<td>08:50 - 09:10</td>
                    <td>20 minss</td>{% endcomment %}
                    <td>Negocio de Telecomunicaciones</td>
                    <td>Germán Espinosa</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    {% comment %} <td>09:10 - 09:25</td>
                    <td>15 mins</td>{% endcomment %}
                    <td>Negocio de Turismo</td>
                    <td>Maria G. Ávila</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    {% comment %} <td>09:25 - 09:35</td>
                    <td>10 mins</td>{% endcomment %}
                    <td>La Ciberseguridad y
                        la Transformación Digital
                    </td>
                    <td>Edwin Reina</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    {% comment %} <td>09:35 – 9:55</td>
                    <td>20 mins</td>{% endcomment %}
                    <td>Reconocimientos</td>
                    <td>Los gerentes IST</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    {% comment %} <td>09:55 - 10:40</td>
                    <td>45 mins</td>{% endcomment %}
                    <td>Panel “Creando Futuro”</td>
                    <td><strong>Moderador:</strong>
                        Maribel Rodríguez
                    </br>
                        <strong>
                            Integrantes:</strong>
                        Angie Hanily,
                        Vielka Arthur,
                        Leyla Raymondo,
                        Cristina Lee,
                        Antonio Michel
                    </td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    {% comment %}  <td>10:40 – 11:25</td>
                    <td>45 mins</td>{% endcomment %}
                    <td>Una nueva mirada hacia el futuro</td>
                    <td>Ely Aquino y
                        Roberto Bernal
                    </td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    {% comment %}   <td>11:25 – 11:35</td>
                    <td>10 mins</td>{% endcomment %}
                    <td>Visión del VP de Ingeniería y Servicios
                    </td>
                    <td>Miguel Lorenzo</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    {% comment %}   <td>11:25 – 11:35</td>
                    <td>10 mins</td>{% endcomment %}
                    <td>Agradecimiento y Cierre
                    </td>
                    <td>Vielka Arthur,
                        Maribel Rodríguez,
                        Rafael Batista
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--/col-->
    </div>
    <!--/row-->
{% endblock content %}
